.banner .banner-text-content {margin-right: 20px; font-size: 1.1em;}
.banner .banner-text-content h1 {font-size: 1.4em;}

.banner-video {width: 58% !important;}
.banner-form {width: 40% !important; }

.banner h1 {color: #002157; text-align: left; font-size: 33px; font-weight: 400; margin: 0; padding: 25px 25px 35px 0;}